body{background-color: rgb(102, 135, 205);}

#Headings{
    text-align: center;
    color: black;
}

#inputDiv{
    color: black;
    text-align: center;
    align-content: center;
}
#athleteList{
    float: left;
    border: 2px solid black;
    text-align: center;
}

#orderList{
    display: inline-block;
}

#tableResults{
    display: inline-block;
}

#penis{
    color: brown;
}

table.inputTable{
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table.inputTable, table.inputTable th, table.inputTable td{
    border: 2px solid black;
    padding: 4px 4px;
    border-collapse: collapse;
}
.textInputs{
    width: 80%;
}
.selectInputs{
    width: 80%;
}
